extend layouts/default.pug 
include mixins/product-item.pug

block title 
  title Chi tiết sản phẩm

block main 
    //- section-6
    section.section-6 
        .container 
            .section-6__wrap 
                .section-6__images 
                    .section-6__images-main
                        img(src="/project-2/assets/images/pro-image 2.jpg")
                    .section-6__images-thumb
                        img(src="/project-2/assets/images/pro-image 3.jpg")
                        img(src="/project-2/assets/images/pro-image 7.jpg")
                        img(src="/project-2/assets/images/pro-image 5.jpg")
                        img(src="/project-2/assets/images/pro-image 6.jpg")
                        img(src="/project-2/assets/images/pro-image 7.jpg")
                .section-6__content
                    //- Breadcumb
                    .breadcumb 
                        nav.breadcumb__wrap 
                            ul 
                                li 
                                    a(href="#" class="") Trang chủ              
                                li 
                                    a(href="#") Chó
                                
                                li 
                                    a(href="#") Chó nhỏ
                                li 
                                    a(href="#") Shiba Inu Màu Nâu Đỏ

                    //- End Breadcumb
                    h1.section-6__title Shiba Inu Màu Nâu Đỏ
                    .section-6__price 12.000.000 VND
                    .section-6__buttons
                        a(href="#" class="button") Liên hệ
                        a(href="#" class="button-outline")
                            i(class="fa-regular fa-comment-dots button-outline--icon-left") 
                            | Chat với Monito
                    .section-6__table
                        table 
                            tbody 
                                tr 
                                    td SKU 
                                    td #1000078
                                tr 
                                    td Giống 
                                    td Cái
                                tr 
                                    td Tuổi 
                                    td 2 tháng
                                tr 
                                    td Kích thước 
                                    td Nhỏ
                                tr 
                                    td Màu sắc 
                                    td Nâu đỏ  
                                tr 
                                    td Mô tả ngắn
                                    td Giống thuần chủng Shih Tzu. Cấu trúc cơ thể tốt. Với chứng chỉ MKA và Microchip. Cha từ dòng dõi vô địch.
                    .box-share 
                        .box-share__label
                            i(class="fa-solid fa-share-nodes")
                            | Chia sẻ:
                        .box-share__list
                            a(href="#" target="_blank") <i class="fa-brands fa-facebook"></i>
                            a(href="#" target="_blank") <i class="fa-brands fa-square-x-twitter"></i>
                            a(href="#" target="_blank") <i class="fa-brands fa-instagram"></i>
                            a(href="#" target="_blank") <i class="fa-brands fa-youtube"></i>
                    
    //- End Section 6

    //- section-7
    //- ...code here
    //- End Section 7

    //- section-2
    -
        var pets = [
        {
            image: '/project-2/assets/images/image 1.jpg',
            title: 'MO231 - Pomeranian Trắng',
            gender: 'Đực',
            age: '02 tháng',
            price: '6.900.000 VND'
        },
        {
            image: '/project-2/assets/images/image 2.jpg',
            title: 'MO502 - Poodle Tiny Vàng',
            gender: 'Cái',
            age: '02 tháng',
            price: '3.900.000 VND'
        },
        {
            image: '/project-2/assets/images/image 3.jpg',
            title: 'MO102 - Poodle Tiny Sepia',
            gender: 'Đực',
            age: '02 tháng',
            price: '4.000.000 VND'
        },
        {
            image: '/project-2/assets/images/image 4.jpg',
            title: 'MO512 - Alaskan Malamute',
            gender: 'Đực',
            age: '03 tháng',
            price: '8.900.000 VND'
        }
        ];

    .section-2
        .container
            .box-heading
              .box-heading__left 
                .box-heading__sub-title Có gì mới?
                .box-heading__title Xem thêm chó con
                
            .section-2__wrap
                each pet in pets
                    +product-item(pet)
    //- End Section 2