<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="shortcut icon" href="assets/images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="assets/css/style.css">
  </head>
  <body>
    <header class="header">
      <div class="container">
        <div class="header__wrap">
          <button class="header__menu-mobile"><i class="fa-solid fa-bars"></i></button>
          <div class="header__logo"><a href="index.html"><img src="assets/images/logo.svg" alt="Monito"></a></div>
          <nav class="header__menu">
            <ul>
              <li><a href="index.html">Trang Chủ</a></li>
              <li><a href="product-list.html">Danh Mục</a></li>
              <li><a href="product-detail.html">Giới Thiệu</a></li>
              <li><a href="#">Liên Hệ</a></li>
            </ul>
            <div class="header__menu--overlay"><i class="fa-solid fa-circle-xmark"></i></div>
          </nav>
          <button class="header__search-mobile"><i class="fa-solid fa-magnifying-glass"></i></button>
          <form class="header__form" action="#">
            <input name="keyword" placeholder="Nhập từ khóa...">
            <button><i class="fa-solid fa-magnifying-glass"></i></button>
            <div class="header__form--suggest">
              <ul> </ul>
            </div>
          </form><a class="button" href="#">Tham Gia Cộng Đồng</a>
        </div>
      </div>
    </header>
    <footer class="footer">
      <div class="container">
        <div class="footer__top">
          <h3 class="footer__content">Đăng ký ngay để không bỏ lỡ các chương trình của chúng tôi</h3>
          <form class="footer__form" action="#">
            <input type="email" name="" id="" placeholder="Nhập email của bạn...">
            <button type="submit">Đăng Ký Ngay</button>
          </form>
        </div>
        <div class="footer__midle">
          <nav class="footer__links">
            <ul>
              <li> <a href="index.html">Trang Chủ</a></li>
              <li><a href="product-list.html">Danh Mục</a></li>
              <li><a href="product-detail.html">Giới Thiệu</a></li>
              <li><a href="#">Liên Hệ</a></li>
            </ul>
          </nav>
          <nav class="footer__social">
            <ul> 
              <li><a href="#" target="_blank"><i class="fa-brands fa-facebook"></i></a></li>
              <li><a href="#" target="_blank"><i class="fa-brands fa-x-twitter"></i></a></li>
              <li><a href="#" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
              <li><a href="#" target="_blank"><i class="fa-brands fa-youtube"></i></a></li>
            </ul>
          </nav>
        </div>
        <div class="footer__bottom">
          <div class="footer__copyright">© 2024 Hune. All rights reserved.</div>
          <div class="footer__logo"><a href="index.html"><img src="/Project-1/assets/images/logo.svg" alt=""></a></div>
          <div class="footer__links">
            <ul>
              <li><a href="#">Điều khoản dịch vụ</a></li>
              <li><a href="#">Chính sách bảo mật</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <script src="assets/js/header.js"> </script>
  </body>
</html>